*.lock
*.log
/RemoteSystemsTempFiles
/webtalk


/u-boot-xlnx-xilinx-v2015.4-origin/Debug
/u-boot-xlnx-xilinx-v2015.4-debug/Debug
/.metadata
/u-boot-xlnx-xilinx-v14.7-origin/Debug
/u-boot-xlnx-xilinx-v14.7-debug/Debug
